<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Deportista</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/table.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<div class="socials">
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-google-plus"></a>
							<a href="#" class="fa fa-instagram"></a>
						</div>
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li class="current"><a href="/deportistaEjemplo">Espacio personal</a></li>
									<li><a href="/equipo?eq={{equipoDeportista}}">Datos Equipo</a></li>
											
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
                 
            
			<!--  Datos Deportista -->   
			<div class="container_12" >
		        <h2>{{nombreDeportista}}</h2>
		        <p><b>Deportista</b></p>   
		         <ul class="container_12" >
			              <li><p>Equipo: {{equipoDeportista}}</p></li> 
			              <li><p><span class="fa fa-envelope fa-2x" ></span>  {{emailDeportista}}</p></li>
			            </ul> 
			            <hr>  
		      </div>           
	 
	 <!--  Histórico de eventos -->
	 <div class="content"><div class="ic"></div>
				<div class="container_12">
					<div class="grid22">
						<h7><CENTER>HISTORICO DE EVENTOS</CENTER></h7>
					</div>

			
				<table class="grid25">
				  
				  <tr>
				    <th data-th="Driver details"><span>Nombre</span></th>
				    <th>Tipo de Evento</th>
				    <th>Ritmo cardiaco medio</th>
				    <th>Distancia recorrida</th>
				    <th>Tiempo</th>
				    <th>Velocidad media</th>
				    <th>Otros</th>
				  </tr>
				  
				  <tr>
				    <td>Maraton de San Sebastian</td>
				    <td>Maraton</td>
				    <td>75 lpm</td>
				    <td>14,1 Km</td>
				    <td>2,5 h</td>
				    <td>6,2 Km/h</td>
				    <td>Puesto 20</td>
				  </tr>
				  
				  <tr>
				    <td>San Silvestre</td>
				    <td>Carrera Popular</td>
				    <td>75 lpm</td>
				    <td>14,1 Km</td>
				    <td>2,5 h</td>
				    <td>6,2 Km/h</td>
				    <td>Puesto 20</td>
				  </tr>
				  
				  <tr>
				    <td>IronMan Segovia</td>
				    <td>Iron Man</td>
				    <td>75 lpm</td>
				    <td>30,2 h</td>
				    <td>2,5 h</td>
				    <td>6,5 Km/h</td>
				    <td>Puesto 30</td>
				  </tr>
				  
				  
				  
				</table>
				
				</div>
				
				<div class="clear"></div>
	
			</div>
				
				<!-- </div><h3 class="head1 center">HealthSport somos Sandra, Alberto y Elena</h3></div> -->
				
				<div class="clear"></div>
				
		</div>
		
		
			
			
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_logo">
						<a href="index.html">HealthSport</a>
					</div>
					<div class="f_contacts">
						<a href="#" class="mail_link"><span class="fa fa-envelope"></span> healthsport@gmail.com</a>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>

