<!DOCTYPE html>
<html lang="en">
	<head>
		<title>¿Quienes Somos?</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<div class="socials">
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-google-plus"></a>
							<a href="#" class="fa fa-instagram"></a>
						</div>
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="index.html">Home</a></li>
									<li><a href="/registroGeneral">Registro</a></li>
									<li><a href="/login">Login</a></li>
									<li class="current"><a href="/quienessomos">¿Quienes somos?</a></li>	
									
									<input type="hidden" name="_csrf" value={{token}}>	
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 21, 2014!</div>
				<div class="container_12">
					<div class="grid22">
						<h7>EQUIPO DE DESARROLLO HEALTHSPORT</h7>
					</div>
					
					<div class="grid23">
						
							<img src="images/sandra.jpg" alt="" height="250px" class="img_inner fleft">
						<div class="extra_wrapper">
							<h8>SANDRA JUAN SAN ROMÁN</h8>
							<p class="color1">Jefe De Proyecto</p>
							Socio fundador de HealthSport, cuenta con más de 10 años de experiencia en el sector de la alta competicion. Durante el periodo 2002-2011 desempeñó los cargos de Presidente y Consejero Delegado de España y de Portugal y Vicepresidente Ejecutivo de la región de Europa en una afamada multinacional.
							Graduado en Ingenieria en Computadores por la Universidad Rey Juan Carlos I.
						</div>	
					</div>
					
					<div class="grid23">
							<img src="images/alberto.jpg" alt="" height="250px" class="img_inner fleft">
						<div class="extra_wrapper">
							<h8>ALBERTO AGUADO MARTINEZALBERTO AGUADO MARTINEZ</h8>
							<p class="color1">Lider De Equipo</p>
							Socio fundador de HealthSport, con anterioridad a su incorporación a HealthSport, trabajó en el sector de la la alta competicion durante más de 5 años ocupando los cargos de Gerencia y Dirección de Departamento y en una multinacional de este sector. Anteriormente, durante 12 años, ejerció diversas funciones dentro de la Dirección de Mantenimiento de Aeronaves en IBERIA L.A.E.
							Graduado en Ingenieria en Computadores por la Universidad Rey Juan Carlos I y Máster en Gestión de Contratos y Programas del Sector Público por la UNED. Profesora asociado en la Universidad Rey Juan Carlos I.
							</div>	
					</div>
					
					<div class="grid23">
							<img src="images/elena.jpg" alt="" height="250px" class="img_inner fleft">
						<div class="extra_wrapper">
							<h8>ELENA GARCIA-MORATO PIÑAN</h8>
							<p class="color1">Presidenta Financiera</p>
							Socio fundador de HealthSport, cuenta con más de 7 años de experiencia en el sector de la alta competicion. Anteriormente desempeño cargos en Dirección de Departamento y de Plataforma en el mantenimiento de submarinos en Ictineu Submarinos S.LLogística.					</div>
							Graduado en Ingenieria en Computadores por la Universidad Rey Juan Carlos I y Máster en Gestión de Contratos y Programas del Sector Público por la UNED. Profesora asociado en la Universidad Rey Juan Carlos I.
							<div class="clear"></div>
					</div>
						
						<!-- </div><h3 class="head1 center">HealthSport somos Sandra, Alberto y Elena</h3></div> -->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_logo">
						<a href="index.html">HealthSport</a>
					</div>
					<div class="f_contacts">
						<a href="#" class="mail_link"><span class="fa fa-envelope"></span> healthsport@gmail.com</a>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>

