<!DOCTYPE html>
<html lang="en">
	<head>
		<title>¿Quienes Somos?</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<div class="socials">
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-google-plus"></a>
							<a href="#" class="fa fa-instagram"></a>
						</div>
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li class="current"><a href="index.html">Home</a></li>
									<li><a href="/login">Login</a></li>
									<li><a href="/registro">Registro</a></li>
									<li><a href="/quienessomos">¿Quienes somos?</a></li>		
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
			<div class="content">
				<div class="container_12">
					<div class="grid_12">
					
						<h3>REGISTRO</h3>
						
						<body>					
						<div class="inner">						
							<form action="">
								<h8>Formulario Registro</h8>
								<div class="form-group">
									<input type="text" placeholder="Nombre" class="form-control">
									<input type="text" placeholder="Apellidos" class="form-control">
								</div>
								<div class="form-wrapper">
									<input type="text" placeholder="Nombre de usuario" class="form-control">
									<i class="zmdi zmdi-account"></i>
								</div>
								<div class="form-wrapper">
									<input type="text" placeholder="Correo Electrónico" class="form-control">
									<i class="zmdi zmdi-email"></i>
								</div>
								<div class="form-wrapper">
									<select name="" id="" class="form-control">
										<option value="" disabled selected>Género</option>
										<option value="male">Masculino</option>
										<option value="femal">Femenino</option>
										<option value="other">Otro</option>
									</select>
									<i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
								</div>
								<div class="form-wrapper">
									<input type="password" placeholder="Password" class="form-control">
									<i class="zmdi zmdi-lock"></i>
								</div>
								<div class="form-wrapper">
									<input type="Contraseña" placeholder="Confirmar Contraseña" class="form-control">
									<i class="zmdi zmdi-lock"></i>
								</div>
								<button>Registrar
									<i class="zmdi zmdi-arrow-right"></i>
								</button>
							</form>
						</div>
					</div>
		
						
						
					</div>
						<div class="clear"></div>
						<!-- </div><h3 class="head1 center">HealthSport somos Sandra, Alberto y Elena</h3></div> -->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_logo">
						<a href="index.html">HealthSport</a>
					</div>
					<div class="f_contacts">
						<a href="#" class="mail_link"><span class="fa fa-envelope"></span> healthsport@gmail.com</a>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>

